.containerHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

}

.containerNaveHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

}

.botaoNav, .VAI-SER-LOGO{
  padding: 1vw;
  margin-left: 50px;
  cursor: pointer;
}

.botaoNav:hover{
  background-color: black;
  color: white;
}

