
.containerFooter {
	background-color: gray;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	color: white;
	padding: 15px;
	flex-direction: column;
	align-self: flex-end;
	margin-top: 2%;
}

a {
	cursor: pointer;
}